<!DOCTYPE html>
<html>
<head>
    <link rel= "stylesheet", href = '/css/style.css'>
</head>
<body>
    {{>header}}
    <p>Fetching data from mapbox and weatherstack</p>
    <p>{{example}}</p>
    
    {{>footer}}

</body>
</html>